.body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  display: block;
}

.app {
  background-color: #f1f2f5;
}

.app__body {
  display: flex;
  
}

@media screen and (max-width:700px) {
  .app {
    background-color: white;
  }
}


/* Project Console: https://console.firebase.google.com/project/fb-clone-3a0b7/overview
Hosting URL: https://fb-clone-3a0b7.web.app */